
<div *ngIf="project">
    <h2><span jhiTranslate="benchAdminConsoleApp.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="benchAdminConsoleApp.project.upsaId">Upsa Id</span></dt>
        <dd>
            <span>{{project.upsaId}}</span>
        </dd>
        <dt><span jhiTranslate="benchAdminConsoleApp.project.name">Name</span></dt>
        <dd>
            <span>{{project.name}}</span>
        </dd>
        <dt><span jhiTranslate="benchAdminConsoleApp.project.startDate">Start Date</span></dt>
        <dd>
            <span>{{project.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="benchAdminConsoleApp.project.endDate">End Date</span></dt>
        <dd>
            <span>{{project.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="benchAdminConsoleApp.project.billingConcept">Billing Concept</span></dt>
        <dd>
            <div *ngIf="project.billingConcept">
                <a [routerLink]="['/billing-concept', project.billingConcept?.id]">{{project.billingConcept?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="benchAdminConsoleApp.project.billingType">Billing Type</span></dt>
        <dd>
            <div *ngIf="project.billingType">
                <a [routerLink]="['/billing-type', project.billingType?.id]">{{project.billingType?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="benchAdminConsoleApp.project.category">Category</span></dt>
        <dd>
            <div *ngIf="project.category">
                <a [routerLink]="['/project-category', project.category?.id]">{{project.category?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
