<div>
    <h2>
        <span jhiTranslate="benchAdminConsoleApp.probationStatus.home.title">Probation Statuses</span>
        <button class="btn btn-primary float-right create-probation-status" [routerLink]="['/', { outlets: { popup: ['probation-status-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="benchAdminConsoleApp.probationStatus.home.createLabel">
            Create new Probation Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="probationStatuses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="benchAdminConsoleApp.probationStatus.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="benchAdminConsoleApp.probationStatus.status">Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let probationStatus of probationStatuses ;trackBy: trackId">
                <td><a [routerLink]="['../probation-status', probationStatus.id ]">{{probationStatus.id}}</a></td>
                <td>{{probationStatus.endDate | date:'medium'}}</td>
                <td>{{probationStatus.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../probation-status', probationStatus.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'probation-status/'+ probationStatus.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'probation-status/'+ probationStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
