<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBenchHistoryLabel" jhiTranslate="benchAdminConsoleApp.benchHistory.home.createOrEditLabel">Create or edit a Bench History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!benchHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="benchHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="benchAdminConsoleApp.benchHistory.createdTime" for="field_createdTime">Created Time</label>
            <div class="d-flex">
                <input id="field_createdTime" type="datetime-local" class="form-control" name="createdTime" [(ngModel)]="benchHistory.createdTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdTime?.dirty && editForm.controls.createdTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="benchAdminConsoleApp.benchHistory.bench" for="field_bench">Bench</label>
            <input type="checkbox" class="form-control" name="bench" id="field_bench"
                [(ngModel)]="benchHistory.bench"  />
            <div [hidden]="!(editForm.controls.bench?.dirty && editForm.controls.bench?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.bench?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="benchAdminConsoleApp.benchHistory.managerId" for="field_managerId">Manager Id</label>
            <input type="text" class="form-control" name="managerId" id="field_managerId"
                [(ngModel)]="benchHistory.managerId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="benchAdminConsoleApp.benchHistory.validTo" for="field_validTo">Valid To</label>
            <div class="d-flex">
                <input id="field_validTo" type="datetime-local" class="form-control" name="validTo" [(ngModel)]="benchHistory.validTo"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="benchAdminConsoleApp.benchHistory.createdByUpsaId" for="field_createdByUpsaId">Created By Upsa Id</label>
            <input type="text" class="form-control" name="createdByUpsaId" id="field_createdByUpsaId"
                [(ngModel)]="benchHistory.createdByUpsaId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="benchAdminConsoleApp.benchHistory.changedByUpsaId" for="field_changedByUpsaId">Changed By Upsa Id</label>
            <input type="text" class="form-control" name="changedByUpsaId" id="field_changedByUpsaId"
                [(ngModel)]="benchHistory.changedByUpsaId"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="benchAdminConsoleApp.benchHistory.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="benchHistory.employee" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id === benchHistory.employee?.id ? benchHistory.employee : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
