<div>
    <h2>
        <span jhiTranslate="benchAdminConsoleApp.billingConcept.home.title">Billing Concepts</span>
        <button class="btn btn-primary float-right create-billing-concept" [routerLink]="['/', { outlets: { popup: ['billing-concept-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="benchAdminConsoleApp.billingConcept.home.createLabel">
            Create new Billing Concept
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="billingConcepts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="upsaId"><span jhiTranslate="benchAdminConsoleApp.billingConcept.upsaId">Upsa Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="benchAdminConsoleApp.billingConcept.name">Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let billingConcept of billingConcepts ;trackBy: trackId">
                <td><a [routerLink]="['../billing-concept', billingConcept.id ]">{{billingConcept.id}}</a></td>
                <td>{{billingConcept.upsaId}}</td>
                <td>{{billingConcept.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../billing-concept', billingConcept.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'billing-concept/'+ billingConcept.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'billing-concept/'+ billingConcept.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
